body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

::selection {
  color: white;
  background: #3796cf; }

::-moz-selection {
  color: white;
  background: #3796cf; }

h1, h2, h3, h4, h5, h6, p, img, ul, pre {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #3796cf;
  line-height: 1.2em; }
  h1.accent-alt, h2.accent-alt, h3.accent-alt, h4.accent-alt, h5.accent-alt, h6.accent-alt {
    color: #4648ae; }
  h1.inline, h2.inline, h3.inline, h4.inline, h5.inline, h6.inline {
    margin-bottom: 0;
    margin-right: 40px;
    display: inline-block; }

h1, .h1 {
  font-size: 3em; }

h2, .h2 {
  font-size: 2.6em; }

h3, .h3 {
  font-size: 2.2em; }

h4, .h4 {
  font-size: 1.8em; }

h5, .h5, blockquote {
  font-size: 1.4em; }

h6, .h6 {
  font-size: 1.2em; }

p {
  overflow: hidden;
  color: #484848; }

a {
  color: #3796cf;
  text-decoration: none; }

blockquote {
  margin-bottom: 20px;
  font-style: italic;
  color: #4648ae;
  padding: 30px 40px;
  border-left: solid 2px #4648ae; }

pre {
  font-family: 'meslo_lg_l_dzregular';
  padding: 30px 40px;
  border-left: solid 2px #3796cf; }

b {
  font-weight: 500; }

u {
  text-decoration: none;
  border-bottom: solid 1px #484848; }

small {
  font-size: 0.9em; }

a.btn,
input[type='submit'] {
  font-size: 0.9em;
  font-weight: 300;
  display: inline-block;
  margin-right: 10px;
  color: white;
  background: #3796cf;
  border: none;
  border-bottom: solid 2px #1f5c81;
  border-radius: 0;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: border-width 0.1s ease;
  -moz-transition: border-width 0.1s ease;
  -o-transition: border-width 0.1s ease;
  transition: border-width 0.1s ease; }
  a.btn.alt,
  input[type='submit'].alt {
    background: #4648ae;
    border-color: #292a65; }
    a.btn.alt:hover,
    input[type='submit'].alt:hover {
      background: #3f409c; }
  a.btn:last-child,
  input[type='submit']:last-child {
    margin-right: 0; }
  a.btn:hover,
  input[type='submit']:hover {
    background: #2e88bf; }
  a.btn:active,
  input[type='submit']:active {
    border-width: 1px; }

ul, ol {
  margin: 20px 0; }
  ul li, ol li {
    display: block; }
  ul > ul, ul ol, ol > ul, ol ol {
    padding-left: 20px;
    margin-top: 0; }

ul li {
  margin-bottom: 5px; }
  ul li:before {
    content: '';
    width: 5px;
    height: 5px;
    background: #3796cf;
    float: left;
    margin: 11px 0.9em 0 0; }
ul.no-bullets li:before {
  display: none; }
ul.inline li {
  display: inline;
  margin-right: 10px; }
  ul.inline li:before {
    display: none; }
ul.usp {
  padding-left: 26px; }
  ul.usp li .ss-icon {
    color: #3796cf;
    margin-right: 10px;
    position: relative;
    top: 4px;
    margin-left: -26px; }
  ul.usp li:before {
    display: none; }

ol {
  counter-reset: numbering; }
  ol li {
    margin-bottom: 10px;
    counter-increment: numbering; }
    ol li:before {
      content: counter(numbering) ".";
      font-size: 0.9em;
      color: #3796cf;
      float: left;
      margin-right: 0.9em; }

* {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font: 16px "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #484848;
  background: whitesmoke;
  border-top: solid 1px #3796cf;
  border-bottom: solid 1px #4648ae;
  min-height: 100%; }

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden; }

.section {
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px; }
  .section.header-push {
    margin-top: 124px; }
  .section.centered {
    text-align: center; }
  .section.accent-bg {
    padding: 40px 0;
    color: white;
    background: #3796cf; }
    .section.accent-bg h1, .section.accent-bg h2, .section.accent-bg h3, .section.accent-bg h4, .section.accent-bg h5, .section.accent-bg h6 {
      color: white; }
    .section.accent-bg p {
      color: white; }
    .section.accent-bg.alt {
      background: #4648ae; }
    .section.accent-bg u {
      border-color: white; }
    .section.accent-bg .ss-icon {
      color: white; }

.column {
  overflow: hidden; }
  .column.half {
    display: inline;
    float: left;
    width: 45.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .column.one-fourth {
    display: inline;
    float: left;
    width: 20.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .column.three-fourth {
    display: inline;
    float: left;
    width: 70.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .column.two-third {
    display: inline;
    float: left;
    width: 62.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }

img {
  width: 100%; }

.ws-loader {
  width: 100px;
  margin: 0 auto; }
  .ws-loader svg {
    width: 100%;
    height: 100%; }
  .ws-loader .right-wing {
    transform: translate(-180px, 0);
    -ms-transform: translate(-180px, 0);
    -webkit-transform: translate(-180px, 0);
    -o-transform: translate(-180px, 0);
    -moz-transform: translate(-180px, 0);
    -webkit-animation: ws-wings 1.5s infinite alternate 0s;
    -moz-animation: ws-wings 1.5s infinite alternate 0s;
    -o-animation: ws-wings 1.5s infinite alternate 0s;
    animation: ws-wings 1.5s infinite alternate 0s; }
  .ws-loader .left-wing {
    transform: translate(180px, 0);
    -ms-transform: translate(180px, 0);
    -webkit-transform: translate(180px, 0);
    -o-transform: translate(180px, 0);
    -moz-transform: translate(180px, 0);
    -webkit-animation: ws-wings 1.5s infinite alternate 0s;
    -moz-animation: ws-wings 1.5s infinite alternate 0s;
    -o-animation: ws-wings 1.5s infinite alternate 0s;
    animation: ws-wings 1.5s infinite alternate 0s; }
  .ws-loader .letter-w, .ws-loader .letter-s {
    opacity: 0;
    -webkit-animation: ws-fade-in 1.5s infinite alternate 0s;
    -moz-animation: ws-fade-in 1.5s infinite alternate 0s;
    -o-animation: ws-fade-in 1.5s infinite alternate 0s;
    animation: ws-fade-in 1.5s infinite alternate 0s; }

@-webkit-keyframes ws-wings {
  33% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0); }

  100% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0); } }

@-moz-keyframes ws-wings {
  33% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0); }

  100% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0); } }

@-o-keyframes ws-wings {
  33% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0); }

  100% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0); } }

@keyframes ws-wings {
  33% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0); }

  100% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0); } }

@-webkit-keyframes ws-fade-in {
  33% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes ws-fade-in {
  33% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes ws-fade-in {
  33% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes ws-fade-in {
  33% {
    opacity: 0; }

  100% {
    opacity: 1; } }

form {
  overflow: hidden; }

label {
  width: 100%;
  display: block;
  margin-bottom: 2px; }
  label.auto {
    width: auto;
    float: left; }

input,
textarea,
select {
  font-size: 16px;
  font-weight: 300;
  color: #484848;
  background: transparent;
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  border: solid 1px #d9d9d9;
  border-radius: 0;
  padding: 10px 15px;
  margin-bottom: 20px;
  -webkit-appearance: none; }
  input[type="submit"],
  textarea[type="submit"],
  select[type="submit"] {
    width: auto;
    float: right; }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: #3796cf; }

textarea {
  min-height: 100px;
  resize: vertical; }

select {
  border-radius: 0;
  cursor: pointer; }
  select + span {
    font-size: 0.9em;
    color: #d9d9d9;
    float: right;
    margin: -51px 15px 0 0; }
  select:focus {
    color: #3796cf; }
    select:focus + span {
      color: #3796cf; }

div.checkbox-wrapper,
div.radio-wrapper {
  position: relative;
  top: 2px;
  width: auto;
  display: inline-block; }
  div.checkbox-wrapper input[type='checkbox'],
  div.checkbox-wrapper input[type='radio'],
  div.radio-wrapper input[type='checkbox'],
  div.radio-wrapper input[type='radio'] {
    -webkit-appearance: none;
    width: auto;
    margin-left: 20px;
    background: transparent;
    border: none;
    cursor: pointer; }
    div.checkbox-wrapper input[type='checkbox']:checked + span,
    div.checkbox-wrapper input[type='radio']:checked + span,
    div.radio-wrapper input[type='checkbox']:checked + span,
    div.radio-wrapper input[type='radio']:checked + span {
      color: #3796cf; }
  div.checkbox-wrapper span,
  div.radio-wrapper span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    color: #d9d9d9;
    display: block;
    overflow: hidden; }
  div.checkbox-wrapper input[type='radio'] + span,
  div.radio-wrapper input[type='radio'] + span {
    font-size: 0.9em;
    top: 2px; }
  div.checkbox-wrapper + small,
  div.radio-wrapper + small {
    position: relative;
    top: -21px;
    left: 5px; }

header#header {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: whitesmoke;
  border-bottom: solid 1px #d9d9d9; }
  header#header h1 {
    width: 80px;
    margin: 0;
    float: left;
    line-height: 0; }
    header#header h1 img {
      margin: 0; }
  header#header a.btn {
    display: none; }
  header#header nav {
    margin-top: 15px;
    float: right; }
    header#header nav ul {
      margin: 0; }
      header#header nav ul li {
        margin-right: 40px; }
        header#header nav ul li.active {
          color: #3796cf; }
      header#header nav ul a {
        color: #484848; }
        header#header nav ul a:last-child li {
          margin: 0; }

footer#footer {
  font-size: 0.9em;
  color: #3796cf;
  text-align: center;
  margin: 80px 0 40px 0; }
  footer#footer p {
    margin: 0;
    margin-right: 10px;
    display: inline;
    color: #3796cf; }
  footer#footer ul {
    display: inline-block;
    margin: 0;
    margin-left: 10px; }

.pricing-tables {
  width: 100%;
  overflow: hidden;
  padding-top: 20px; }
  .pricing-tables article {
    max-width: 300px;
    min-height: 550px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
    text-align: center;
    border: solid 1px #d9d9d9; }
    .pricing-tables article.featured {
      border-color: #4648ae; }
      .pricing-tables article.featured h3 {
        color: #4648ae; }
      .pricing-tables article.featured .price {
        background-color: #4648ae; }
    .pricing-tables article .wrapper {
      padding: 30px 40px; }
    .pricing-tables article h3, .pricing-tables article h4 {
      margin: 0; }
    .pricing-tables article .price {
      padding: 10px 0;
      color: white;
      background: #3796cf; }
    .pricing-tables article ul {
      text-align: left;
      margin: 0; }
    .pricing-tables article a.btn {
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0; }

.docs nav {
  padding-right: 20px;
  border-right: solid 1px #d9d9d9;
  background: whitesmoke;
  overflow-y: scroll;
  overflow-x: hidden; }
  .docs nav input[type="search"] + span {
    color: #d9d9d9;
    float: right;
    position: relative;
    top: -52px;
    right: 10px; }
  .docs nav ul {
    margin: 0; }
    .docs nav ul li.active {
      color: #3796cf; }
    .docs nav ul a {
      color: #484848; }
      .docs nav ul a.hidden {
        display: none; }
.docs .nav-trigger {
  display: none; }

.blog-list .icon {
  font-size: 8em;
  text-align: center;
  color: #3796cf;
  margin-top: 40px; }
.blog-list .section.accent-bg .icon {
  color: white; }
.blog-list .content p {
  font-style: italic; }

.blog-post .container {
  width: 600px;
  margin: 0 auto;
  position: relative; }
.blog-post header {
  overflow: hidden;
  margin-bottom: 20px; }
  .blog-post header .icon {
    font-size: 4em;
    color: #3796cf;
    float: left;
    margin-right: 40px; }
.blog-post footer {
  padding-top: 20px;
  border-top: solid 1px #d9d9d9; }
  .blog-post footer h4, .blog-post footer h5, .blog-post footer h6 {
    color: #484848; }
  .blog-post footer p {
    font-style: italic; }

@media all and (max-width: 960px) {
  .pricing-tables article {
    max-width: initial; } }
@media all and (min-width: 767px) and (max-width: 960px) {
  .container {
    width: 738px; }

  .pricing-tables article {
    width: 48.62%; }

  .column.three-fourth {
    display: inline;
    float: left;
    width: 95.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .column.one-fourth {
    display: inline;
    float: left;
    width: 45.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }
@media all and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
    overflow: hidden; }

  h1.inline, h2.inline, h3.inline, h4.inline, h5.inline, h6.inline {
    margin-bottom: 20px; }

  h1 {
    font-size: 2.5em; }

  h2 {
    font-size: 2.2em; }

  h3 {
    font-size: 1.9em; }

  h4 {
    font-size: 1.6em; }

  h5 {
    font-size: 1.3em; }

  h6 {
    font-size: 1.2em; }

  .section.header-push {
    margin-top: 104px; }

  .column {
    margin-bottom: 20px; }
    .column:last-child {
      margin-bottom: 0; }
    .column.half, .column.one-fourth, .column.three-fourth {
      display: inline;
      float: left;
      width: 95.83333%;
      margin-left: 2.08333%;
      margin-right: 2.08333%; }

  header#header a.btn {
    float: right;
    margin-top: 8px;
    display: inline-block; }
  header#header nav {
    width: 100%;
    background: #d9d9d9;
    text-align: center; }
    header#header nav ul {
      margin: 0; }
      header#header nav ul li {
        width: 100%;
        margin: 0;
        padding: 10px 0;
        display: block; }
        header#header nav ul li.active {
          color: white;
          background: #3796cf; }
    header#header nav.hidden {
      display: none; }

  .pricing-tables article {
    min-height: initial;
    margin-right: 0;
    margin-left: 0;
    width: 100%; }
    .pricing-tables article ul {
      margin-bottom: 40px; }

  .docs .nav-trigger {
    font-size: 0.9em;
    display: block;
    position: fixed;
    right: 20px;
    top: 104px;
    padding: 10px 15px;
    color: #484848;
    border: solid 1px #d9d9d9;
    background: whitesmoke; }
    .docs .nav-trigger span {
      position: relative;
      top: 2px;
      margin-right: 5px; }
  .docs nav.column {
    margin: 0;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 104px;
    overflow-y: scroll;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease; }
    .docs nav.column.hidden {
      left: -200px; }

  .blog-post .container {
    width: 100%; }
  .blog-post header .icon {
    float: none;
    margin-bottom: 10px;
    margin-right: 0; } }
