* {
	margin: 0;
	padding: 0;
	line-height: $line-height;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font: $size-m $main-family;
	font-weight: $main-weight;
	color: $base-color;
	background: $bg-color;

	border-top: $border-style $border-width $accent;
	border-bottom: $border-style $border-width $accent-alt;

	min-height: 100%;
}

.container {
	width: $main-container-width;
	margin: 0 auto;
	overflow: hidden;
}

.section {
	width: 100%;
	overflow: hidden;
	margin-bottom: $margin-l;

	&.header-push {
		margin-top: $header-height+$margin-l;
	}

	&.centered {
		text-align: center;
	}

	&.accent-bg {
		padding: $margin-l 0;
		color: $white;
		background: $accent;

		h1, h2, h3, h4, h5, h6 {
			color: $white;
		}

		p {
			color: $white;
		}

		&.alt {
			background: $accent-alt;
		}

		u {
			border-color: $white;
		}

		.ss-icon {
			color: $white;
		}
	}
}

.column {
	overflow: hidden;

	&.half {
		@include column(6);
	}

	&.one-fourth {
		@include column(3);
	}

	&.three-fourth {
		@include column(9);
	}

	&.two-third {
		@include column(8);
	}
}

img {
	width: 100%;
}

.ws-loader {

	width: 100px;
	margin: 0 auto;

	svg {
		width: 100%;
		height: 100%;
	}

	.right-wing {
		@include transform( translate(-180px,0) );
		@include animation(ws-wings, 1.5s);
	}

	.left-wing {
		@include transform( translate(180px,0) );
		@include animation(ws-wings, 1.5s);
	}

	.letter-w,.letter-s {
		opacity: 0;
		@include animation(ws-fade-in, 1.5s);
	}

}

@include keyframes(ws-wings) {
  33% {//in pos after .5s
	@include transform( translate(0,0) );
  }
  100% { //wait 1s
	@include transform( translate(0,0) );
  }
}

@include keyframes(ws-fade-in) {
  33% {//.5s delay
	opacity: 0;
  }
  100% {//1s for fade-in
	opacity: 1;
  }
}