include ./inc/header.jade

section.section.header-push
  .container
    section.column.half
      h2.accent 404 Error
      h3.h4.accent-alt Page not found
      p
        | That's all we know, but hey, no worries. See if you can find what you were looking for in the docs.
      a.btn(href='/docs') View the docs

include ./inc/footer.jade