include ./inc/header.jade

section.section.page-title
  .container
    h2 Contact
    h3.h4 We're always open to a good talk
    article.column.half.clear-l
      p
        | Do you have
        b  questions?
        |  Would you like to discuss a
        b  custom plan?
        |  Or would you simply like a
        b  good talk?
        |  You can
        b  contact us by phone or email.
    .illustration
      span.ss-icon.ss-standard cloud

include ./inc/footer.jade