include ./inc/header.jade

section.section.page-title
  .container
    h2 Features
    h3.h4 Overview

    article.column.half.clear-l
      ul.usp
        li
          span.ss-icon.ss-standard check
          | 5 minute setup
        li
          span.ss-icon.ss-standard check
          | No more setting-up back-end infrastructures
        li
          span.ss-icon.ss-standard check
          | Manage and deploy easily using our cloud panel or CLI
        li
          span.ss-icon.ss-standard check
          | Reduces average loading time by at least 60%
    article.column.half.clear-r
      ul.usp
        li
          span.ss-icon.ss-standard check
          | Premium plans that allow you to scale as you grow
        li
          span.ss-icon.ss-standard check
          | Get automatic mail updates about app data
        li
          span.ss-icon.ss-standard check
          | Integrated monetization and customer support options
    .illustration
      span.ss-icon.ss-standard cloud

section.section
  .container
    article.column.half.clear-l
      h4 5 minute setup
      p.
        Forfeited you engrossed but gay sometimes explained. Another as studied it to evident.
        Merry sense given he be arise. Conduct at an replied removal an amongst.
    article.column.half.clear-r
      pre.language-bash
        code.
          sudo npm install whitespell
          whitespell login
          whitespell create todo_app

          &#10003; App 'todo_app' created

section.section
  .container
    article.column.half.clear-l
      section.code-tabs
        nav
          a(data-tab-id="cli").is-active CLI
          a(data-tab-id="js") JavaScript
        .tabs
          .tab.cli.is-active
            pre.language-bash
              code.
                whitespell todo_app ps:new
                name: insert_todo
                public: y
                query: INSERT INTO todos (content) VALUES ('$this->{content}')

                &#10003; Prepared Statement 'insert_todo' created
          .tab.js
            pre.language-javascript
              code.
                var ws = new Whitespell('YOUR_API_KEY');

                ws.send({
                  'task': 'insert_todo',
                  'content': 'Do Groceries'
                });

                ws.on('insert_todo', function(data){
                  console.log(data.name+' was inserted!');
                });
    article.column.half.clear-r
      h4 No more setting-up back-end infrastructures
      p.
        Forfeited you engrossed but gay sometimes explained. Another as studied it to evident.
        Merry sense given he be arise. Conduct at an replied removal an amongst.

section.section
  .container
    article.column.half.clear-l
      h4 Manage and deploy easily using our cloud panel or CLI
      p.
        Forfeited you engrossed but gay sometimes explained. Another as studied it to evident.
        Merry sense given he be arise. Conduct at an replied removal an amongst.
    article.column.half.clear-r
      pre.language-bash
        code.
          whitespell deploy todo_app

          &#10003; App deployed on todo-app.whitespell.com

section.section.accent.no-clear.testimonials
  .container
    p.
      I absolutely love Whitespell! Its so Awesome I wanna die!! Its sooo fluffyyyyyyy!!!!! Yes, thats awesome with a capital "A".
      You know why? Because I like the alphabet, thats why!
    cite
      div.photo
        img(src="https://randomuser.me/api/portraits/med/women/48.jpg")
      | Robert Van Haaren
      br
      small
        em CEO at Duxilio

include ./inc/footer.jade