include ./inc/header.jade

section.section.page-title
  .container
    h2 Our Plans
    h3.h4 Scale as you grow
    article.column.half.clear-l
      p
        b Flexible plans
        |  which allow you to only
        b  pay for what you use.
    .illustration
      span.ss-icon.ss-standard cloud

.container
  section.section
    h3.h4 Start with our free plan
    article.column.half.clear-l
      p
        b 150
        |  Intelligence Connections per hour,
        b  1
        |  Dynagram Email per day,
        b  2
        |  Visualizations,
        b  2
        |  Included Team Members,
        b  500
        |  API Calls per hour (Library/HTTP)
    article.column.half.clear-r.centered
      a.btn.big(href="/sign-up") Create your free account

section.section
  .container
    article.pricing-item.column.one-third.clear-l
      header
        h3 Micro
      .price $2
      .content
        ul
          li
            a(data-tooltip="Number of connections per hour to the Whitespell intelligence API.") 200 Intelligence Connections
          li
            a(data-tooltip="Number of analytics email you get per month.") 2 Total Dynagram Emails
          li
            a(data-tooltip="Number of visualizations you can get of your usage.") 3 Visualizations
          li
            a(data-tooltip="Number of team members you can include.") 25 Included Team Size
          li
            a(data-tooltip="Number of calls you can make to the API per month.") 1000 Blox Calls
          li
            a(data-tooltip="Amount of marketplace credit your get from us for free.") $15 Marketplace Credit
      a.btn(href='#') Purchase plan

    article.pricing-item.column.one-third.clear-l.featured
      header
        h3 Small
      .price $5
      .content
        ul
          li
            a(data-tooltip="Number of connections per hour to the Whitespell intelligence API.") 300 Intelligence Connections
          li
            a(data-tooltip="Number of analytics email you get per month.") 10 Total Dynagram Emails
          li
            a(data-tooltip="Number of visualizations you can get of your usage.") 15 Visualizations
          li
            a(data-tooltip="Number of team members you can include.") 35 Included Team Size
          li
            a(data-tooltip="Number of calls you can make to the API per month.") 2000 Blox Calls
          li
            a(data-tooltip="Amount of marketplace credit your get from us for free.") $25 Marketplace Credit
      a.btn(href='#').alt Purchase plan

    article.pricing-item.column.one-third.clear-l
      header
        h3 Advanced
      .price $10
      .content
        ul
          li
            a(data-tooltip="Number of connections per hour to the Whitespell intelligence API.") 550 Intelligence Connections
          li
            a(data-tooltip="Number of analytics email you get per month.") 20 Total Dynagram Emails
          li
            a(data-tooltip="Number of visualizations you can get of your usage.") 25 Visualizations
          li
            a(data-tooltip="Number of team members you can include.") 100 Included Team Size
          li
            a(data-tooltip="Number of calls you can make to the API per month.") 300 Blox Calls
          li
            a(data-tooltip="Amount of marketplace credit your get from us for free.") $50 Marketplace Credit
      a.btn(href='#') Purchase plan

section.section.accent-alt.no-clear
  .container
    h3 Superhero
    article.column
      article.column.one-third.clear-l
        p.
          Do you handle a lot of big data? How about a plan designed 
          specifically for your company? Contact us and we'll get on it
          right away.
      article.column.one-third
        ul.usp
          li
            span.ss-icon.ss-standard check
            | 550+ Intelligence Connections
          li
            span.ss-icon.ss-standard check
            | 20+ Total Dynagram Emails
          li
            span.ss-icon.ss-standard check
            | 25+ Visualizations
      article.column.one-third
        ul.usp
          li
            span.ss-icon.ss-standard check
            | 200+ Included Team Size
          li
            span.ss-icon.ss-standard check
            | 5000+ Blox Calls
          li
            span.ss-icon.ss-standard check
            | $500+ Marketplace Credit
    a.btn.alt(href="#") Contact us
    .illustration
      span.ss-icon.ss-standard barchart

include ./inc/footer.jade