.sidebar
    header
      form(action="search.html", method="get")
        input(type="search", name="q" placeholder="Search the docs...")
    ul
      a(href="/docs/")
        li.is-active Documentation Home
      
      a(href="#")
        li.title
          span.ss-icon.ss-standard book
          | Learning
        ul.sub-menu
          a(href="#")
            li Outsourcing Processes
          a(href="#")
            li Creating prepaired statements
          a(href="#")
            li Initializing a new app
          a(href="overview-learning.html").read-more
            li
              span.ss-icon.ss-standard ellipsis
              | More Articles

      a(href="#")
        li.title.devicons.devicons-terminal CLI
      ul.sub-menu
        a(href="getting-started.html")
          li Getting Started
        a(href="overview-api.html")
          li Manual

      a(href="#")
        li.title
          span.ss-icon.ss-standard globe
          | Web
      ul.sub-menu
        a(href="getting-started.html")
          li Getting Started
        a(href="overview-api.html")
          li API Reference

      a(href="#")
        li.title.devicons.devicons-android Android
      ul.sub-menu
        a(href="getting-started.html")
          li Getting Started
        a(href="overview-api.html")
          li API Reference

      a(href="#")
        li.title.devicons.devicons-apple iOS
      ul.sub-menu
        a(href="getting-started.html")
          li Getting Started
        a(href="overview-api.html")
          li API Reference

      a(href="#")
        li.title.devicons.devicons-terminal_badge REST
      ul.sub-menu
        a(href="getting-started.html")
          li Getting Started
        a(href="overview-api.html")
          li API Reference