.sidebar
    header
      input(type="search", placeholder="Search the docs...")
    ul
      a(href="/docs/")
        li.is-active Documentation Home
      a(href="#")
        li CLI Reference

      a(href="#")
        li.title
          span.ss-icon.ss-standard globe
          | Web
      ul.sub-menu
        a(href="#")
          li Getting Started
        a(href="#")
          li API Reference

      a(href="#")
        li.title.devicons.devicons-android Android
      ul.sub-menu
        a(href="#")
          li Getting Started
        a(href="#")
          li API Reference

      a(href="#")
        li.title.devicons.devicons-apple iOS
      ul.sub-menu
        a(href="#")
          li Getting Started
        a(href="#")
          li API Reference

      a(href="#")
        li.title.devicons.devicons-terminal_badge REST
      ul.sub-menu
        a(href="#")
          li Getting Started
        a(href="#")
          li API Reference