.overview-list {

	a:nth-child(1) article, > article:nth-child(1) {
		padding-top: 0;
	}

	a:last-child article, > article:last-child {
		border: none;
		padding-bottom: 0;
	}

	article {
		margin-bottom: $margin-xl;

		h4 {
			color: $base-color;

			@include transition(color);

			span {
				font-size: .6em;
				color: $grey-dark;
				display: inline-block;
				margin-left: $margin-m;
			}

			&:hover {
				color: $accent;
			}
		}

		p {
			margin-bottom: 0;
			color: $base-color;
		}

		.meta {

			p {
				position: relative;
				top: 1px;
			}

		}
	}

	.row:last-child article {
		margin-bottom: 0;
	}

	> a:last-child article, > :not(a) article:last-child {
		margin-bottom: 0;
	}

}

.inline-photo {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	overflow: hidden;

	margin-right: $margin-m;
	float: left;

	position: relative;
	top: -2px;

	img {
		width: 100%;
		margin: 0;
	}
}