* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	line-height: $line-height;
}

body {
	font: $size-m $main-family;
	font-weight: $main-weight;
	color: $base-color;
	background: $white;

	@include border(bottom, $accent-alt);
}

.container {
	width: $main-container-width;
	margin: 0 auto;
	overflow: hidden;
}

img {
	width: 100%;
}