* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	line-height: $line-height;
	-webkit-tap-highlight-color: transparent;
}

body {
	font: $size-m $main-family;
	font-weight: $main-weight;
	color: $base-color;
	background: $white;
}

.container {
	width: $main-container-width;
	margin: 0 auto;
	overflow: hidden;
}

img, iframe {
	width: 100%;
}

.no-clear {
	margin-bottom: 0 !important;
}