.docs {

	nav {
		padding-right: $margin-m;
		border-right: $border-style $border-width $grey;
		background: $bg-color;

		overflow-y: scroll;
		overflow-x: hidden;

		input[type="search"] + span {
			color: $grey;

			float: right;

			position: relative;
			top: -52px;
			right: $margin-s;
		}

		ul {
			margin: 0;

			li.active {
				color: $accent;
			}

			a {
				color: $base-color;

				&.hidden {
					display: none;
				}
			}
		}
	}

	.column > article {
		//margin-bottom: $margin-l;
	}

	.nav-trigger {
		display: none;
	}

}