header#header {
	width: 100%;
	padding: $margin-s 0;
	margin-bottom: $margin-l;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	background: $bg-color;
	border-bottom: $border-style $border-width $grey;

	h1 {
		width: 80px;
		margin: 0;
		float: left;
		line-height: 0;

		img {
			margin: 0;
		}
	}

	a.btn {
		display: none;
	}

	nav {
		margin-top: 15px;
		float: right;

		ul {
			margin: 0;

			li {
				margin-right: $margin-l;

				&.active {
					color: $accent;
				}
			}

			a {
				color: $base-color;

				&:last-child li {
					margin: 0;
				}
			}
		}
	}
}

footer#footer {
	font-size: $size-s;
	color: $accent;
	text-align: center;
	margin: $margin-xl 0 $margin-l 0;

	p {
		margin: 0;
		margin-right: $margin-s;
		display: inline;
		color: $accent;
	}

	ul {
		display: inline-block;
		margin: 0;
		margin-left: $margin-s;
	}
}