extends ../inc/template

block pageVars
  - var pageTitle = "Documentation"
  - var pageDescription = "Worlds first intelligent & distributed API"

block pageContent
  include ./inc/sidebar

  .content
    section.section.page-title
      .container
        h2 Outsourcing Processes To The Cloud
        .inline-photo(href="#")
          img(src="http://www.placecage.com/30/30")
        p
          | Posted by 
          a(href="#") Koen Vendrik
          |  in 
          a(href="#") Advanced
        .illustration
          span.ss-icon.ss-standard cloud

    section.section.readable-article
      .container
        p.intro.
          Remaining engrossed applauded sir how discovery. Settled opinion how enjoyed greater
          joy adapted too shy. Now properly surprise expenses interest nor replying she she.
          Bore tall nay many many time yet less.

        h4 Doubtful for
        p.
          Doubtful for answered one fat indulged margaret
          sir shutters together. Ladies so in wholly around whence in at.

        .didyouknow
          span.ss-icon.ss-standard talk
          | In companions inhabiting mr principles at insensible do. Heard their sex hoped enjoy vexed child for.
          | Prosperous so occasional assistance it discovered especially no.

        p.
          Warmth he up giving oppose if.
          Impossible is dissimilar entreaties oh on terminated. Earnest studied article country ten respect
          showing had. But required offering him elegance son improved informed. 

        h4 She exposed painted
        p.
          Fifteen are noisier mistake led waiting. Surprise not wandered speedily husbands although yet end.
          Are court tiled cease young built fat one man taken.

        ul
          li Surprise
          li Highest
          li Assistance
          li Returned

        p.
          We highest ye friends is exposed equally in.
          Ignorant had too strictly followed. Astonished as travelling assistance or unreserved oh pianoforte ye.
          Five with seen put need tore add neat. Bringing it is he returned received raptures. 

        ol
          li Surprise
          li Highest
          li Assistance
          li Returned

        h5 At ourselves
        p.
          Direction believing do he departure. Celebrated her had sentiments understood are projection set.
          Possession ye no mr unaffected remarkably at.

        pre
          code.language-javascript.
            var ws = new Whitespell('http://kvendrik.whitespell.com');

        p.
          Wrote house in never fruit up. Pasture imagine my garrets
          an he. However distant she request behaved see nothing. Talking settled at pleased an of me brother
          weather.

        h4 Promotion an
        p.
          Ourselves up otherwise my. High what each snug rich far yet easy. In companions
          inhabiting mr principles at insensible do. Heard their sex hoped enjoy vexed child for.
          Prosperous so occasional assistance it discovered especially no.
        pre
          code.language-bash.
            cc=$(pwd)/tests.bash
        p.
          Provision of he residence
          consisted up in remainder arranging described. Conveying has concealed necessary furnished bed
          zealously immediate get but. Terminated as middletons or by instrument.

        blockquote
          | Conveying has concealed necessary furnished bed
          | zealously immediate get but. Terminated as middletons or by instrument.
          cite - Pim de Witte
        p.
          Bred do four so your felt
          with. No shameless principle dependent household do.

        footer
          h6 Read next

          .row
            article.column.half.clear-l
              a(href="#")
                h5 Creating Prepaired Statements
              .inline-photo(href="#")
                img(src="http://www.placecage.com/30/30")
              p
                | Posted by 
                a(href="#") Koen Vendrik
                |  in 
                a(href="#") Advanced

            article.column.half.clear-r
              a(href="#")
                h5 Initializing A New App
              .inline-photo(href="#")
                img(src="http://www.placecage.com/40/40")
              p
                | Posted by 
                a(href="#") Pim de Witte
                |  in 
                a(href="#") Beginner

          .row
            article.column.half.clear-l
              a(href="#")
                h5 Outsourcing Processes To The Cloud
              .inline-photo(href="#")
                img(src="http://www.placecage.com/50/50")
              p
                | Posted by 
                a(href="#") Koen Vendrik
                |  in 
                a(href="#") Advanced

            article.column.half.clear-r
              a(href="#")
                h5 Making The Most of WebSockets
              .inline-photo(href="#")
                img(src="http://www.placecage.com/60/60")
              p
                | Posted by 
                a(href="#") Pim de Witte
                |  in 
                a(href="#") Beginner

      




      
      

