extends ../inc/template

block pageVars
  - var pageTitle = "Documentation"
  - var pageDescription = "Worlds first intelligent & distributed API"

block pageContent
  include ./inc/sidebar

  .content
    section.section.page-title
      .container
        h2 Documentation
        h3.h4 Learn how to use Whitespell
        article.column.half.clear-l
          p
            b Get started in 5 minutes
            |  or have a look at 
            b how Whitespell works
        .illustration
          span.ss-icon.ss-standard cloud

    section.section.language-picker
      .container
        h3 Quickstart
        h4.h5.alt What platform are you coding for?
        a(href="#").column.one-fourth
          div.ss-icon.ss-standard globe
          span Web / JavaScript
        a(href="#").column.one-fourth
          div.devicons.devicons-android
          span Android / Java
        a(href="#").column.one-fourth
          div.devicons.devicons-apple
          span iOS / Swift
        a(href="#").column.one-fourth
          div.devicons.devicons-terminal_badge
          span REST

    section.section.list-boxes
      .container
        h3 Populair
        h4.h5.alt Trending pages
        article.column.one-third.clear-l
          header
            span.ss-icon.ss-standard globe
            | Web
          .content
            ul
              a(href="#")
                li Getting Started
              a(href="#")
                li Making the most of Sockets with...
              a(href="#")
                li Outsourcing Processes
              a(href="#")
                li Whitespell.off()
        article.column.one-third.clear-l
          header
            span.devicons.devicons-android
            | Android
          .content
            ul
              a(href="#")
                li new Whitespell
              a(href="#")
                li Whitespell.req()
              a(href="#")
                li Whitespell.on()
              a(href="#")
                li Whitespell.off()
        article.column.one-third.clear-l
          header
            span.devicons.devicons-apple
            | iOS
          .content
            ul
              a(href="#")
                li new Whitespell
              a(href="#")
                li Whitespell.req()
              a(href="#")
                li Whitespell.on()
              a(href="#")
                li Whitespell.off()
        article.column.one-third.clear-l
          header
            span.devicons.devicons-terminal_badge
            | REST
          .content
            ul
              a(href="#")
                li Curl
              a(href="#")
                li Authorization Headers
              a(href="#")
                li Creating prepaired statements
              a(href="#")
                li Changing settings remotely
        article.column.one-third.clear-l
          header
            span.devicons.devicons-terminal_badge
            | CLI
          .content
            ul
              a(href="#")
                li Initializing a new app
              a(href="#")
                li Deploying your app to the CDN
              a(href="#")
                li Creating prepaired statements
              a(href="#")
                li Changing settings remotely
        article.column.one-third.clear-l
          header
            span.ss-icon.ss-standard book
            | Learning
          .content
            ul
              a(href="#")
                li Getting Started
              a(href="#")
                li Making the most of Sockets with...
              a(href="#")
                li Outsourcing Processes
              a(href="#")
                li Whitespell.off()

