.code-tabs {
    overflow: hidden;

    position: relative;

    nav a {
        color: $base-color;
        cursor: pointer;

        font-size: $size-s;
        padding: $padding-m;

        &.is-active {
            font-weight: $bold-weight;
        }
    }

    .tab {
        display: none;

        &.is-active {
            display: block;
        }
    }
}