.code-tabs {
    overflow: hidden;
    position: relative;

    nav a {
        color: $base-color;
        cursor: pointer;

        font-size: $size-s;
        padding: $padding-m;

        &.is-active {
            font-weight: $bold-weight;
        }
    }

    article {
        display: none;

        &.is-active {
            display: block;
        }
    }

/*
    article {
        min-height: 340px;
        float: left;

        &:nth-child(1) label {
            border-top-left-radius: $border-radius;
        }
        &:last-child label {
            border-top-right-radius: $border-radius;
        }

        label {
            cursor: pointer;

            font-size: $size-s;
            padding: $padding-m;

            //background-color: $base-color;
            //color: $white;
            position: relative;
            z-index: 2;
        }

        input[type="radio"]{
            display: none;

            &:checked {
                & ~ label {
                    font-weight: $bold-weight;
                    //background-color: darken($accent, 20%);
                    & ~ pre {
                        display: block;
                    }
                }
            }
        }

        pre[class*="language-"] {
            min-width: 100%;
            margin: 0;
            display: none;

            position: absolute !important;
            top: 40px;
            left: 0;
        }

        :not(pre) > code[class*="language-"], pre[class*="language-"] {
            position: relative;
            z-index: 1;
        }
    }
*/
}