.column {
	overflow: hidden;

	&.half {
		@include column(6);
	}

	&.one-fourth {
		@include column(3);
	}

	&.three-fourth {
		@include column(9);
	}

	&.two-third {
		@include column(8);
	}

	&.clear-l {
		margin-left: 0;
	}
	&.clear-r {
		margin-right: 0;
	}
}