#header-bg {
	width: 100%;
	height: 89px;
	overflow: hidden;
}

header#header {
	width: 100%;
	padding: $margin-m 0;

	background-color: $accent;
	color: $white;
	@include border(bottom, $accent-dark, $border-width-alt);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;

	h1 {
		width: 70px;
		margin: 0;
		float: left;
		line-height: 0;

		img {
			margin: 0;
		}
	}

	nav {
		margin-top: 4px;
		float: right;

		.btn {
			margin-left: $margin-s;
		}

		ul {
			margin: 0;

			li {
				margin-right: $margin-l;

				&.active {
					font-weight: $bold-weight;
					color: $accent;
				}
			}

			a {
				color: $white;

				&:last-child li {
					margin: 0;
				}
			}
		}
	}

	#sidebar-trigger {
		display: none;
	}
}

footer#footer {
	font-size: $size-s;
	padding-bottom: $margin-m+5px;
	padding-top: $margin-m+10px;
	@include border(top);

	a {
		color: $accent-alt;
	}

	ul {
		display: block;
		margin: 0;
		float: left;

		&:last-child {
			float: right;
			margin-bottom: 0;
		}
	}
}