header#header {
	width: 100%;
	padding: $margin-m 0;

	background-color: $accent;
	color: $white;
	@include border(bottom, $accent-dark, $border-width-alt);

	h1 {
		width: 70px;
		margin: 0;
		float: left;
		line-height: 0;

		img {
			margin: 0;
		}
	}

	nav {
		margin-top: 3px;
		float: right;

		.btn {
			margin-left: $margin-s;
		}

		ul {
			margin: 0;

			li {
				margin-right: $margin-l;

				&.active {
					font-weight: $bold-weight;
					color: $accent;
				}
			}

			a {
				color: $white;

				&:last-child li {
					margin: 0;
				}
			}
		}
	}
}

footer#footer {
	font-size: $size-s;
	text-align: center;
	margin-bottom: $margin-m;
	padding-top: $margin-l;
	@include border(top);

	a {
		color: $accent-alt;
	}

	ul {
		display: block;
		margin: 0;
		margin-bottom: $margin-s;
		float: left;

		&:last-child {
			float: right;
			margin-bottom: 0;
		}
	}
}