footer#footer
  .container
    ul.inline
      li Whitespell LLC, 2014
      a(href='#')
        li Privacy Policy
      a(href='#')
        li Legal
      a(href='#')
        li Careers

    ul.inline
      a(href='#')
        li Home
      a(href='#')
        li Products
      a(href='#')
        li Pricing
      a(href='#')
        li Documentation
      a(href='#')
        li Contact

script(src='/js/app.js')
<body>
</html>