body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

::selection {
  color: #f5f5f5;
  background: #2e88bf; }

::-moz-selection {
  color: #f5f5f5;
  background: #2e88bf; }

p, img, ul, ol, pre {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 20px;
  color: #2e88bf; }
  h1.alt, h2.alt, h3.alt, h4.alt, h5.alt, h6.alt {
    color: #4648ae; }

h1, .h1 {
  font-size: 3em; }

h2, .h2 {
  font-size: 2.6em; }

h3, .h3 {
  font-size: 2.2em; }

h4, .h4 {
  font-size: 1.8em; }

h5, .h5, blockquote {
  font-size: 1.4em; }

h6, .h6 {
  font-size: 1.2em; }

a {
  color: #2e88bf;
  text-decoration: none; }

p.no-clear {
  margin-bottom: 0; }

pre {
  font-family: 'meslo_lg_l_dzregular';
  padding: 10px 15px;
  padding-left: 40px;
  border-left: solid 1px #4648ae; }

pre[class*="language-"] {
  font-size: 0.9em;
  border-radius: 2px; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #2f2f2f !important; }

b, strong {
  font-weight: 500; }

u {
  text-decoration: none;
  border-bottom: solid 1px #d9d9d9; }

small {
  font-size: 0.9em; }

.button-set {
  font-size: 1.1em; }
  .button-set span {
    margin-right: 20px;
    margin-left: 20px;
    font-style: italic; }

a.btn,
input[type='submit'] {
  font-size: 0.9em;
  font-weight: 300;
  display: inline-block;
  color: #f5f5f5;
  background-color: #2e88bf;
  border: none;
  border: solid 1px #246b96;
  border-radius: 2px;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease 0s;
  -moz-transition: background-color 0.1s ease 0s;
  -o-transition: background-color 0.1s ease 0s;
  -ms-transition: background-color 0.1s ease 0s;
  transition: background-color 0.1s ease 0s; }
  a.btn.alt,
  input[type='submit'].alt {
    background: #4648ae;
    border-color: #292a65; }
    a.btn.alt:hover,
    input[type='submit'].alt:hover {
      background: #3f409c; }
  a.btn:hover,
  input[type='submit']:hover {
    background-color: #297aaa; }

ul li, ol li {
  display: block; }
  ul li.active, ol li.active {
    color: #2e88bf; }
ul > ul li, ul ol li, ol > ul li, ol ol li {
  padding-left: 20px;
  border-left: solid 1px #d9d9d9; }
  ul > ul li.active, ul ol li.active, ol > ul li.active, ol ol li.active {
    color: #4648ae;
    border-color: #4648ae; }

ul li {
  margin-bottom: 5px; }
  ul li:before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #2e88bf;
    float: left;
    margin: 11px 0.9em 0 0; }
ul.inline li {
  display: inline;
  margin-right: 20px; }
  ul.inline li:before {
    display: none; }
ul.usp {
  padding-left: 26px; }
  ul.usp li .ss-icon {
    color: #4648ae;
    margin-right: 10px;
    position: relative;
    top: 4px;
    margin-left: -26px; }
  ul.usp li:before {
    display: none; }

ol {
  counter-reset: numbering; }
  ol li {
    margin-bottom: 10px;
    counter-increment: numbering; }
    ol li:before {
      content: counter(numbering) ".";
      font-size: 0.9em;
      color: #2e88bf;
      float: left;
      margin-right: 0.9em; }

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5em; }

body {
  font: 16px "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #484848;
  background: #f5f5f5;
  border-bottom: solid 1px #4648ae; }

.container {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden; }

img {
  width: 100%; }

.section {
  width: 100%;
  overflow: hidden;
  margin-bottom: 80px; }
  .section .container {
    overflow: visible; }
  .section.centered {
    text-align: center; }
    .section.centered .column {
      margin: 0 auto;
      float: none; }
  .section.fifty {
    position: relative;
    background: #2e88bf; }
    .section.fifty.alt {
      background: #4648ae; }
    .section.fifty article {
      width: 50%;
      float: left;
      position: relative; }
      .section.fifty article .container {
        width: 512px;
        position: relative;
        z-index: 1;
        padding-left: 20px;
        padding-right: 20px; }
  .section .illustration {
    font-size: 25em;
    color: #297aaa;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 80px;
    bottom: 0; }
  .section.no-clear {
    margin-bottom: 0; }
  .section.page-title {
    color: #f5f5f5;
    padding-bottom: 40px;
    padding-top: 40px; }
    .section.page-title h1, .section.page-title h2, .section.page-title h3, .section.page-title h4, .section.page-title h5, .section.page-title h6, .section.page-title a,
    .section.page-title ul.usp li .ss-icon {
      color: #f5f5f5; }
    .section.page-title .illustration {
      position: relative;
      font-size: 15em;
      margin-bottom: -15em;
      top: -40px; }
  .section.accent, .section.accent-alt, .section.fifty article:nth-child(1), .section.fifty article:last-child {
    padding: 80px 0;
    color: #f5f5f5; }
    .section.accent h1, .section.accent h2, .section.accent h3, .section.accent h4, .section.accent h5, .section.accent h6, .section.accent a,
    .section.accent ul.usp li .ss-icon, .section.accent-alt h1, .section.accent-alt h2, .section.accent-alt h3, .section.accent-alt h4, .section.accent-alt h5, .section.accent-alt h6, .section.accent-alt a,
    .section.accent-alt ul.usp li .ss-icon, .section.fifty article:nth-child(1) h1, .section.fifty article:nth-child(1) h2, .section.fifty article:nth-child(1) h3, .section.fifty article:nth-child(1) h4, .section.fifty article:nth-child(1) h5, .section.fifty article:nth-child(1) h6, .section.fifty article:nth-child(1) a,
    .section.fifty article:nth-child(1) ul.usp li .ss-icon, .section.fifty article:last-child h1, .section.fifty article:last-child h2, .section.fifty article:last-child h3, .section.fifty article:last-child h4, .section.fifty article:last-child h5, .section.fifty article:last-child h6, .section.fifty article:last-child a,
    .section.fifty article:last-child ul.usp li .ss-icon {
      color: #f5f5f5; }
    .section.accent a.btn, .section.accent-alt a.btn, .section.fifty article:nth-child(1) a.btn, .section.fifty article:last-child a.btn {
      background-color: #297aaa; }
      .section.accent a.btn:hover, .section.accent-alt a.btn:hover, .section.fifty article:nth-child(1) a.btn:hover, .section.fifty article:last-child a.btn:hover {
        background-color: #246b96; }
      .section.accent a.btn.alt, .section.accent-alt a.btn.alt, .section.fifty article:nth-child(1) a.btn.alt, .section.fifty article:last-child a.btn.alt {
        background-color: #3f409c; }
        .section.accent a.btn.alt:hover, .section.accent-alt a.btn.alt:hover, .section.fifty article:nth-child(1) a.btn.alt:hover, .section.fifty article:last-child a.btn.alt:hover {
          background-color: #292a65; }
  .section.accent, .section.fifty article:last-child {
    background-color: #2e88bf; }
    .section.accent .illustration, .section.fifty article:last-child .illustration {
      color: #297aaa; }
  .section.page-title, .section.accent-alt, .section.fifty article:nth-child(1) {
    background-color: #4648ae; }
    .section.page-title .illustration, .section.accent-alt .illustration, .section.fifty article:nth-child(1) .illustration {
      color: #3f409c; }

.column {
  overflow: hidden; }
  .column.half {
    display: inline;
    float: left;
    width: 45.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .column.one-fourth {
    display: inline;
    float: left;
    width: 20.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .column.three-fourth {
    display: inline;
    float: left;
    width: 70.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .column.two-third {
    display: inline;
    float: left;
    width: 62.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; }
  .column.clear-l {
    margin-left: 0; }
  .column.clear-r {
    margin-right: 0; }

form {
  overflow: hidden; }

label {
  width: 100%;
  display: block;
  margin-bottom: 2px; }
  label.auto {
    width: auto;
    float: left; }

input,
textarea,
select {
  font-size: 16px;
  font-weight: 300;
  color: #484848;
  background: transparent;
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
  padding: 10px 15px;
  margin-bottom: 20px;
  -webkit-appearance: none; }
  input[type="submit"],
  textarea[type="submit"],
  select[type="submit"] {
    width: auto;
    float: right; }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: #2e88bf; }

textarea {
  min-height: 100px;
  resize: vertical; }

select {
  border-radius: 2px;
  cursor: pointer; }
  select + span {
    font-size: 0.9em;
    color: #d9d9d9;
    float: right;
    margin: -51px 15px 0 0; }
  select:focus {
    color: #2e88bf; }
    select:focus + span {
      color: #2e88bf; }

div.checkbox-wrapper,
div.radio-wrapper {
  position: relative;
  top: 2px;
  width: auto;
  display: inline-block; }
  div.checkbox-wrapper input[type='checkbox'],
  div.checkbox-wrapper input[type='radio'],
  div.radio-wrapper input[type='checkbox'],
  div.radio-wrapper input[type='radio'] {
    -webkit-appearance: none;
    width: auto;
    margin-left: 20px;
    background: transparent;
    border: none;
    cursor: pointer; }
    div.checkbox-wrapper input[type='checkbox']:checked + span,
    div.checkbox-wrapper input[type='radio']:checked + span,
    div.radio-wrapper input[type='checkbox']:checked + span,
    div.radio-wrapper input[type='radio']:checked + span {
      color: #2e88bf; }
  div.checkbox-wrapper span,
  div.radio-wrapper span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    color: #d9d9d9;
    display: block;
    overflow: hidden; }
  div.checkbox-wrapper input[type='radio'] + span,
  div.radio-wrapper input[type='radio'] + span {
    font-size: 0.9em;
    top: 2px; }
  div.checkbox-wrapper + small,
  div.radio-wrapper + small {
    position: relative;
    top: -21px;
    left: 5px; }

header#header {
  width: 100%;
  padding: 20px 0;
  background-color: #2e88bf;
  color: #f5f5f5;
  border-bottom: solid 2px #246b96; }
  header#header h1 {
    width: 70px;
    margin: 0;
    float: left;
    line-height: 0; }
    header#header h1 img {
      margin: 0; }
  header#header nav {
    margin-top: 3px;
    float: right; }
    header#header nav .btn {
      margin-left: 10px; }
    header#header nav ul {
      margin: 0; }
      header#header nav ul li {
        margin-right: 40px; }
        header#header nav ul li.active {
          font-weight: 500;
          color: #2e88bf; }
      header#header nav ul a {
        color: #f5f5f5; }
        header#header nav ul a:last-child li {
          margin: 0; }

footer#footer {
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 40px;
  border-top: solid 1px #d9d9d9; }
  footer#footer a {
    color: #4648ae; }
  footer#footer ul {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    float: left; }
    footer#footer ul:last-child {
      float: right;
      margin-bottom: 0; }

.pricing-tables {
  width: 100%;
  overflow: hidden;
  padding-top: 20px; }
  .pricing-tables article {
    max-width: 300px;
    min-height: 550px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
    text-align: center;
    border: solid 1px #d9d9d9; }
    .pricing-tables article.featured {
      border-color: #4648ae; }
      .pricing-tables article.featured h3 {
        color: #4648ae; }
      .pricing-tables article.featured .price {
        background-color: #4648ae; }
    .pricing-tables article .wrapper {
      padding: 30px 40px; }
    .pricing-tables article h3, .pricing-tables article h4 {
      margin: 0; }
    .pricing-tables article .price {
      padding: 10px 0;
      color: #f5f5f5;
      background: #2e88bf; }
    .pricing-tables article ul {
      text-align: left;
      margin: 0; }
    .pricing-tables article a.btn {
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0; }

.home-intro {
  margin-bottom: 40px;
  padding-top: 40px; }
  .home-intro .content {
    margin-top: 80px; }
  .home-intro .character {
    width: 100%;
    text-align: center; }
    .home-intro .character img {
      max-width: 300px; }

.ws-loader {
  width: 100px;
  margin: 0 auto; }
  .ws-loader svg {
    width: 100%;
    height: 100%; }
  .ws-loader .right-wing {
    -webkit-transform: translate(-180px, 0);
    -moz-transform: translate(-180px, 0);
    -o-transform: translate(-180px, 0);
    -ms-transform: translate(-180px, 0);
    transform: translate(-180px, 0);
    -webkit-animation: ws-wings 1.5s infinite alternate 0s;
    -moz-animation: ws-wings 1.5s infinite alternate 0s;
    -o-animation: ws-wings 1.5s infinite alternate 0s;
    -ms-animation: ws-wings 1.5s infinite alternate 0s;
    animation: ws-wings 1.5s infinite alternate 0s; }
  .ws-loader .left-wing {
    -webkit-transform: translate(180px, 0);
    -moz-transform: translate(180px, 0);
    -o-transform: translate(180px, 0);
    -ms-transform: translate(180px, 0);
    transform: translate(180px, 0);
    -webkit-animation: ws-wings 1.5s infinite alternate 0s;
    -moz-animation: ws-wings 1.5s infinite alternate 0s;
    -o-animation: ws-wings 1.5s infinite alternate 0s;
    -ms-animation: ws-wings 1.5s infinite alternate 0s;
    animation: ws-wings 1.5s infinite alternate 0s; }
  .ws-loader .letter-w, .ws-loader .letter-s {
    opacity: 0;
    -webkit-animation: ws-fade-in 1.5s infinite alternate 0s;
    -moz-animation: ws-fade-in 1.5s infinite alternate 0s;
    -o-animation: ws-fade-in 1.5s infinite alternate 0s;
    -ms-animation: ws-fade-in 1.5s infinite alternate 0s;
    animation: ws-fade-in 1.5s infinite alternate 0s; }

@-webkit-keyframes $name {
  33% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-moz-keyframes $name {
  33% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-o-keyframes $name {
  33% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes $name {
  33% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-webkit-keyframes $name {
  33% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes $name {
  33% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes $name {
  33% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes $name {
  33% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.code-tabs {
  position: relative;
  margin-top: -15px; }
  .code-tabs article {
    min-height: 340px;
    float: left; }
    .code-tabs article:nth-child(1) label {
      border-top-left-radius: 2px; }
    .code-tabs article:last-child label {
      border-top-right-radius: 2px; }
    .code-tabs article label {
      cursor: pointer;
      font-size: 0.9em;
      padding: 10px 15px;
      background-color: #484848;
      color: #f5f5f5;
      position: relative;
      bottom: -16px; }
      .code-tabs article label:before {
        display: none; }
    .code-tabs article input[type="radio"] {
      display: none; }
      .code-tabs article input[type="radio"]:checked ~ label {
        background-color: #2f2f2f; }
        .code-tabs article input[type="radio"]:checked ~ label ~ pre {
          display: block; }
    .code-tabs article pre[class*="language-"] {
      margin: 0;
      display: none;
      position: absolute !important;
      top: 56px;
      left: 0; }
    .code-tabs article :not(pre) > code[class*="language-"],
    .code-tabs article pre[class*="language-"] {
      position: relative;
      z-index: 1; }

/*# sourceMappingURL=main.css.map */
